// Colors
//
// Suffixes:
// l for lighter, ll for lighter lighter
// d for darker, dd for darker darker

$col-primll: #FF857F;
$col-priml:  #E3544C;
$col-prim:   #D42E26;	
$col-primd:  #A2160F;
$col-primdd: #750600;

$col-compll: #65CA71;
$col-compl:  #3BB049;
$col-comp:   #1DA52E;	
$col-compd:  #0B7D19;
$col-compdd: #005B0B;

$col-text-white:  rgba(255, 255, 255, 0.9);
$col-text-whited: rgba(255, 255, 255, 0.7);
$col-text-black:  rgba(  0,   0,   0, 0.9);
$col-text-blackl: rgba(  0,   0,   0, 0.7);

/*************/
/**  Sizes  **/
/*************/

// Height including top / bottom margin of 4px
$chat-input-height: 72px;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body { margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
